.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(233, 149, 40);
}

body,
#root {
  /* position:; */
  margin: 0;
  padding: 0;
  background-color: #e5e5ea;
  /* background-image: url("./assets/back.jpg"); */
  /* background-position: 100%;
  background-repeat: no-repeat; 
  background-size: cover;    */
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgbotleft {
  position: absolute;
  height: 70vh;
  margin-top: 0%;
  margin-left: 1%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.imgbotright {
  position: absolute;
  height: 70vh;
  margin-top: 0%;
  margin-left: 70%;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}

.chatbot {
  position: relative;
  background-color: #ffe4c4;
  border-radius: 0;
  height: 80vh;
  margin-top: 0%;
  margin-bottom: 0%;
  width: min(100%, 600px);
  margin-left: 30%;
  overflow-y: scroll;
}

.spinner {
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin-top: 15%;
}

.messages {
  background-color: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80vh;
  overflow-y: auto;
  padding-right: 2px;
}

.chatbot::-webkit-scrollbar {
  width: 8px;
  border: none;
}

.chatbot::-webkit-scrollbar-track {
  background: #60697a;
}

.chatbot::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  width: 80%;
}

.message {
  display: flex;
  align-items: center;
  margin: 10px;
  min-height: 4rem;
}

.message-body {
  margin: 10px;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  background-color: #ff5e00;
}

.sent {
  flex-direction: row-reverse;
}

.message-body {
  background-color: #e5e5ea;
}

.sent > .message-body {
  background-color: #f6eec9;
}

.avatar > img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.messages-list {
  position: absolute;
  font-weight: normal;
  color: #000000;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}
.slideanimation {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
.chatbot > form {
  position: fixed;
  bottom: 30;
  background: transparent;
  display: flex;
  width: 600;
  align-items: stretch;
  margin: 0;
  margin-left: 0%;
  height: 6vh;
}

.message-field {
  flex-grow: 1;
  background-color: transparent;
  margin-right: 1%;
  padding: 15px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(4, 4, 4);
  width: 70%;
  border-radius: 15px;
}

.message-field:focus {
  /* background-color: rgb(253, 251, 251); */
  background-color: #f6eec9;
  border: 3px solid rgb(250, 250, 250);
}

.form-btn {
  color: rgb(0, 0, 0);
  border-radius: 20%;
  margin-left: 1%;
}

.imginput {
  background-image: url("./assets/msg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.voice-btn,
.send-btn {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  max-width: 40px;
  min-width: 60px;
  flex-basis: 40px;
  width: 15%;
  text-align: center;
}

.imgsend {
  margin: 7%;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.voice-btn:active,
.send-btn:active {
  background-color: #ff5e00;
}

#end-link {
  width: 2rem;
  height: 2rem;
  background-color: rgb(250, 139, 3);
  border-radius: 50%;
  position: fixed;
  right: 40px;
  top: 12vh;
  z-index: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(99, 0, 192);
}

.invisible {
  display: none !important;
}

.footer {
  position: fixed;
  background-color: #c96d17;
  width: 100%;
  height: 3%;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  bottom: 0;
  justify-content: center;
  /* z-index:0 */
}

.content {
  left: 0;
  right: 0;
  top: 1;
  bottom: 0;
  height: auto;
  max-width: auto;
  max-height: 100%;
}

.navbar {
  position: relative;
  background-color: #c96d17;
  width: 100%;
  height: 9%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.logo {
  justify-self: start;
  position: absolute;
  height: 100%;
  width: 20%;
}

.carousel {
  height: 200px;
  width: auto;
}

.imgcarousel {
  object-fit: fill;
  height: 650;
  width: 1550;
}

.logoimg {
  width: 100%;
  height: 100%;
}

.navlist {
  margin-left: auto;
}

.navlist > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-element {
  /* border: solid 1px #ccc; */
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
  margin: 1rem;
  background-color: #fdfdfd;
  color: #c96d17;
  cursor: pointer;
  font-weight: 550;
}

.account {
  width: 10px;
  height: 10px;
}

.nav-elementor {
  /* border: solid 1px #ccc; */
  padding-top: 2%;
  padding-bottom: 3%;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
  margin: 1rem;
  background-color: #ffc400;
  color: #c96d17;
  cursor: pointer;
  font-weight: 550;
}

.form-body {
  margin: 10px;
  background-color: white;
  opacity: 0.7;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.carousel {
  width: 100%;
  height: 100%;
}

.contained {
  margin-left: 0.2rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: small;
}

.data_input {
  border-radius: 5px;
  height: 1.5rem;
  padding-left: 10px;
  background-color: #f6eec9;
  border: 1px solid rgba(255, 255, 255, 0.322);
}

.data_submit {
  margin-top: 10px;
  height: 1.8rem;
  border: 1px solid rgba(239, 239, 9, 0.974);
  border-radius: 5px;
  font-weight: bold;
  background-color: #ffa36c;
}

.data_submit:active,
.form-choose-btn:active {
  background-color: rgb(252, 193, 0);
  color: white;
}

.form-choose-btn {
  font-size: x-small;
  color: rgb(58, 58, 58);
  border: 1px solid rgb(255, 247, 5);
}

.hidden {
  opacity: 0;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffa36c;
}

.card-container:hover {
  background-color: #c96d17;
}

.card-chosen {
  background-color: #e1e1e1;
}

.card-main {
}

.card-title {
  font-size: larger;
  margin-top: 0;
}

.card-side-info {
}

.card-description {
}

a {
  text-decoration: none;
  color: inherit;
}

h5 {
  margin: 0;
  text-align: center;
}
